@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

/* Video BG */
#videoBG {
    position: fixed;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 767px) {
    #videoBG {
        display: none;
    }
    body {
        background-color: #8fcdf7;
    }
}

/* Navbar */

#navbarNavDropdown {
    font-size: 1rem;
}

#navigationbar {
    position: sticky;
    width: 100vw;
    overflow-x: hidden;
    top: 0;
    left: 0;
    padding-right: 1rem;
    z-index: 2;
    background-color: #37a0e7 !important;
    letter-spacing: 0.1rem;
}

.navbar-brand {
    font-size: 2rem;
    color: #fff !important;
    letter-spacing: 0.6rem;
}

.nav-link {
    font-size: .9rem;
    color: #fff !important;
    text-align: right !important;
}

.nav-link:hover {
    color: #8fcdf7 !important;
    transition: .1s ease-in-out;
}

/* Home page */

#home {
    height: 92.5vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

#name {
    color: #000;
    font-size: 2.7rem;
    text-align: center;
    letter-spacing: 1.5rem;
}

#strapline {
    color:#000;
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: .3rem;
}


#aboutme {
    color: #fff;
    font-size: .8rem;
    text-align: center;
    letter-spacing: .3rem;
    padding-top: 6rem;  
}

#aboutme:hover{
    text-decoration: none !important;
    color: #4d4d4d !important;
    transition: .1s ease-in-out;
}

/* General */


.sectionhead {
    color: #000;
    font-size: 3rem;
    line-height: 3.6rem;
    letter-spacing: 0.3rem; 
    padding-top: 6rem;
    margin-bottom: -.8rem;
    margin-top: -1rem;
    z-index: 1;
}


.blacktext {
    color: #000;
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 0.1rem; 
    font-weight: 300;
}


.sociallinks li a i {
    color: #fff;
    width: 40px;
    height: 40px;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    line-height: .25rem;
    text-align: center;
}

.sociallinks li a i:hover {
    color: #8fcdf7;
    transition: .1s ease-in-out;
    text-decoration: none !important;
}


#btnfind {
    height: 1.3rem;
    width: 8rem;
    font-size: 0.85rem;
    background-color: #37a0e7;
    border: #37a0e7;
    color: #fff;
    font-weight: 300;
    text-align: center !important;
    text-decoration: none !important;
}

#btnfind:hover {
    text-decoration: none !important;
    background-color: #8fcdf7;
    color: #fff !important;
    transition: .1s ease-in-out;
}

/* Footer */

.main {
    min-height: 82vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #37a0e7;
    position: relative;
    padding-top: 1.6rem;
    margin-top: auto;
    text-align: center !important;
}

#copyright {
    color: #fff;
    font-size: 0.7rem;
    font-weight: 300;
    letter-spacing: 0.1rem; 
    text-align: center;
    margin-top: -1rem;
}

